@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    /*background: linear-gradient(#9795EF, #F9C5D1);
    min-height: 200vh;/* face pagina sa fie mai lunga incat sa dai scroll*/
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;

}
header.sticky {
    padding: 5px 100px;
    background: #fff;

}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;/*te scapa de sublinierea textului*/
    font-size: 2em;
    text-transform:uppercase;
    letter-spacing:2px;
    transition:0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    /*font-weight: 500px;*/
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}

.search-container {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

/*login button*/

#SignIn,
#SignOut
{
    position: absolute;
    /*top:100%;*/
    /*left:0%;*/
    transform: translate(0%, -50%);
    color: #1670f0;
    padding:3px 6px;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 3px 7px rgba(0,0,0,.5);
    overflow: hidden;
    font-family: sans-serif;
}
#SignIn, #SignOut :before
{
    content: '';
    position: absolute;
    top:2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    /*background: rgba(255,255,255,0.05) !important;*/
    background:rgba(132, 22, 222, 0.05);
}
#SignIn,
#SignOut span:nth-child(1)
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
#SignIn,
#SignOut span:nth-child(2)
{
    position: absolute;
    top:0;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation:animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}
#SignIn,
#SignOut span:nth-child(3)
{
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
#SignIn,
#SignOut span:nth-child(4)
{
    position: absolute;
    top:0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}

.result {
    background: transparent;
    position: center;
    table-layout: fixed;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
}

.body-process{
    background: linear-gradient(rgba(245, 246,252,0.52), rgba(117, 19, 93, 0.73)), url("../images/path/to/image/welcome.jpg") center no-repeat fixed ;
    background-attachment: fixed;
    background-position-y: 50px;
    background-size: cover;
}

.loggin-message {
    align-content: center;
    text-decoration: none;
    transform: translate(350px, 250px);

}

.home {
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
   /* background: url("../images/path/to/image/airline.jpeg") center no-repeat fixed;
    background-color: rgb(8, 83, 98);*/
    background: linear-gradient(rgba(245, 246,252,0.52), rgba(117, 19, 93, 0.73)), url("../images/path/to/image/airline.jpeg") center no-repeat fixed ;
    background-attachment: fixed;
    background-position-y: 50px;
    background-size: cover;
}

.home::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.home::after {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    top: 50%;
    transform: translateY(30%);
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;

}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin:30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(80px);
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content .imgbx {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
    transform: translateX(40%);
}

.container .card .content .imgbx img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.container .card .content h2 {
    position: absolute;
    top: -63px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.welcome {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.welcome-subtitle {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    font-size: 1.2em;
    top: 28%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(134, 0, 179);
}

.sign-in-msg {
    transform:translateX(150px);
}

.nav-list {
    transition: initial;
}

.nav-link,
.current{
    color: #fafafa;
    position: relative;
}

.nav-link::before,
.current::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5rem;
    background-color: #eb648c;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
}

.current::before{
    transform: scaleX(1);
}

.nav-link:hover::before{
    transform: scaleX(1);
}

.logo-img img {
    position:relative;
    width: 100px;
    height: auto;
    transform: translateX(-15%);
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 25px 10%;
    background-color: #1b1f33;
}

.formular .card {
    transform: translate(90%, 30%);
    width:450px;
}

.formular .card input {
    width:360px;
}

.formular {
    background: linear-gradient(rgba(245, 246,252,0.52), rgba(117, 19, 93, 0.73)), url("../images/path/to/image/background.jpg") center no-repeat fixed ;
    background-attachment: fixed;
    height: 100vh;
}

.flightform .card {
    transform: translate(90%, 30%);
    width:450px;
}

.flightform .card input {
    width:360px;
}

.flightForm {
    background: linear-gradient(rgba(245, 246,252,0.52), rgba(117, 19, 93, 0.73)), url("../images/path/to/image/background.jpg") center no-repeat fixed ;
    background-attachment: fixed;
    height: 100vh;
}

.mainContent {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.images img{
    padding:0 20px 20px;
    height:380px;
    width:380px;
    transform:translateY(65%);
    filter:brightness(60%)

}

.images:hover {
    opacity: .5;
    transition:.9s;
    transform:translateY(60px);

}

.word {
    display: block;
    font-family: Audiowide;
    position:absolute;
    font-size:50px;
    color:white;
}

.word1 {
    transform:translateX(80px);
}

.word2 {
    transform:translateX(95px);
}

.word3 {
    transform:translateX(105px);
}

.backgroundRepair {
    background: linear-gradient(rgba(245, 246,252,0.52), rgba(117, 19, 93, 0.73)), url("../images/path/to/image/repair.jpg") center no-repeat fixed ;
    background-attachment: fixed;
    height:100vh;

}