

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Details</title>
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <link href="/static/css/details-page.css" th:href="@{/css/details-page.css}" rel="stylesheet" />
    </head>
    <body>
        <header th:insert="header :: head"></header>
        <h1>Page under construction</h1>

        <iframe th:src="@{'https://maps.google.com/maps?q=' + ${airport_details.getLatitude()} + ',' + ${airport_details.getLongitude()}
                                                            + '&output=embed'}">
        </iframe>

        <div th:replace="footer :: footer"></div>
    </body>
</html>