<html
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body >
<div th:fragment="head">
<header class="sticky">
    <div id="flight" class="logo-img"><img src="../static/images/path/to/image/aircraft.png" th:src="@{images/path/to/image/aircraft.png}"></div>
        <a href="#" class="logo">Checker</a>
        <ul class="nav-list">
            <li class="nav-item current"><a th:href="@{/home}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/administrator}" sec:authorize="isAuthenticated()">Administrator</a></li>
            <li class="nav-item"><a class="nav-link"href="#">Search</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Airport</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Airline</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Flight</a></li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}" id="Sign In" sec:authorize="isAnonymous()">
                    Sign in
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" id="Sign Out" sec:authorize="isAuthenticated()" >
                    Sign out
                </a>
            </li>
        </ul>
    </header>
</div>
</body>
</html>