<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Search Airports</title>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="/static/css/search-style-airport.css" th:href="@{/css/search-style-airport.css}" rel="stylesheet" />

</head>
<body>

<header th:insert="header :: head"></header>

<section class="background" >
    <div class="container-of-search">
        <div class="search">
            <form class="search-fields" id="magicform" role="form"
                  th:action="@{/airports/page/1}"  th:object="${listAirports}">
                <input type="hidden" name="sortedField" th:value="${sortedField}"/>
                <input type="hidden" name="sortedDirection" th:value="${sortedDirection}"/>
                <div class="image">
                </div>
                <div class="form-group">
                    <label for="search"></label>
                    <input id="search" type="text" name="keyword" autocomplete="off" class="form-control" th:value = "${keyword}" placeholder="Type an airport name, city or country"/>
                    <button type="submit" >
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

            <div class="center-mouse">
                <div class="mouse">
                </div>
            </div>
        </div>
        <table class="content-table" border="1", cellpadding="8">
            <thead>
            <th scope="col">Airport</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Code</th>
            <th scope="col" sec:authorize="isAuthenticated()">Modify</th>
            </thead>
            <tbody>
            <tr th:each="a : ${listAirports}">
                <td>
                    <a th:href="@{/show/{id}(id=${a.id})}" th:text="${a.name}"></a>
                </td>
                <td th:text="${a.country}"></td>
                <td th:text = "${a.city}"></td>
                <td th:text = "${a.iata}"></td>
                <td class="action">

                    <a th:href="@{/edit/{id}(id=${a.id})}" class="edit-btn" sec:authorize="isAuthenticated()">
                        <button class="fas fa-edit">Edit</button>
                    </a>


                    <a th:href="@{/delete/{id}(id=${a.id})}" class="delete-btn" sec:authorize="isAuthenticated()">
                        <button value ="Alert Message" id="btnAlertMessage" class="fas fa-trash-alt">Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        &nbsp;
        &nbsp;
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total Airports : [[${totalAirports}]] - Page [[${currentPage}]] of [[${totalPages}]]
            &nbsp; - &nbsp;

            <a th:if = "${currentPage > 1}"  th:href = "@{'/airports/page/1?sortedField=' + ${sortedField} + '&sortedDirection=' + ${sortedDirection} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>

            <span th:unless = "${currentPage > 1}" >First</span>
            &nbsp;

            <a th:if="${currentPage > 1}" th:href="@{'/airports/page/' + ${currentPage - 1} + '?sortedField=' + ${sortedField} + '&sortedDirection=' + ${sortedDirection} + ${keyword != null ? '&keyword=' + keyword : ''}}" >Previous</a>
            <span th:unless = "${currentPage > 1}">Previous</span>
            &nbsp;

            <span th:each = "i: ${#numbers.sequence(1, totalPages)}">
        <a th:if = "${i != currentPage}" th:href = "@{'/airports/page/' + ${i}} + '?sortedField=' + ${sortedField} + '&sortedDirection=' + ${sortedDirection} + ${keyword != null ? '&keyword=' + keyword : ''}" >[[${i}]]</a>
            <span th:unless = "${i != currentPage}" >[[${i}]]</span>
            &nbsp;
        </span>

            <a th:if = "${currentPage < totalPages}" th:href="@{'/airports/page/' + ${currentPage + 1} + '?sortedField=' + ${sortedField} + '&sortedDirection=' + ${sortedDirection} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
            <span th:unless = "${currentPage < totalPages}">Next</span>
            &nbsp;

            <a th:if = "${currentPage < totalPages}" th:href="@{'/airports/page/' + ${totalPages} + '?sortedField=' + ${sortedField} + '&sortedDirection=' + ${sortedDirection} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
            <span th:unless = "${currentPage < totalPages}">Last</span>

        </div>
        <button id="scrollToTop">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
</section>

<script type="text/javascript" th:src = "@{/js/scriptic.js}" src="/static/js/scriptic.js"></script>

</body>
</html>
